# Archives & Extracted Data
*.zip
info_extracted/
personal_extracted/

# Sensitive Personal Documents & PDF Certs
avatar.png
resume.docx
certificates/

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
